/* style.css */
* {
margin: 0;
padding: 0;
}

body {
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #555454;
    padding: 12px;
    margin-top: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.sketch-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 800px;
    background-color: #991101;
    padding-top: 50px;
}

.sketch-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    height: 600px;
    background-color: #bfbfbf
}

.sketch-screen>div {
    flex: 1 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sketch-screen>div>* {
    flex: 1;
}